spring:
  application:
    name: erp-api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#        - id: auth-server
#          uri: http://localhost:8088
#          predicates:
#            - Path=/auth
server:
  port: 8080
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@localhost:8761/eureka